{% extends "base.html" %}
{% load static %}

{% block content %}


    <section>
        <div class="slidecontainer">
            <div class="slider">
                <img src="static/Assit/images\slider images\miniature-placard-pink-roses-against-pink-backdrop.jpg"
                    alt="" class="slide activeslide">
                <!--
                     <span class="caption">
                    <h2></h2>
                </span>
                    -->

                <span><a class="shopnowbutton">ShopNow!</a></span>

                <img src="static/Assit/images\slider images\slider image 7.jpg" alt=""
                    class="slide ">
                <!--
                     <span class="caption">
                    <h2></h2>
                </span>
                    -->
                <span><a class="shopnowbutton">ShopNow!</a></span>

                <img src="static/Assit/images\slider images\slider image 4.jpg" alt=""
                    class="slide">
                <!--
                     <span class="caption">
                    <h2></h2>
                </span>
                    -->
                <span><a class="shopnowbutton">ShopNow!</a></span>

                <img src="static/Assit/images\slider images\slider image 5.jpg" class="slide"
                    alt="">
                <span><a class="shopnowbutton">ShopNow!</a></span>
                <img src="static/Assit/images\slider images\slider image 8.jpg" class="slide"
                    alt="">
                <!--
                     <span class="caption">
                    <h2></h2>
                </span>
                    -->

                <span class="arrow" id="next">&#10095</span>
                <span class="arrow" id="previous">&#10094</span>
            </div>
            <div class="dotcontainer">
                <div class="dot dotactive"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </section>
    <section>
        <h3 id="headingcollection">Our Collections</h3>
        <div class="container4">
            <div class="collection">
                <h4>Plants for office</h4>
                <p>out of 50% discount <span><a href="">shop now</a></span></p>

            </div>
            <div class="collection">
                <h4>
                    Plants for garden
                </h4>
                <p>out of 30% discount <span><a href="">shop now</a></span></p>
            </div>
            <div class="collection">
                <h4>
                    Plants for room
                </h4>
                <p>out of 20% discount <span><a href="">shop now</a></span></p>
            </div>
            <div class="collection">
                <h4>
                    Plants for guest room
                </h4>
                <p>out of 50% discount <span><a href="">shop now</a></span></p>
            </div>
        </div>
    </section>
    <div class="container">
        <h3 id="flowerheading">Top High Rated Sold Out Products</h3>
        <div class="flowercontainer">
            <!--Fruit plant 1 -->
            <div class="flowers">
                <div class="sale">30% Off</div>
                <div class="itemdetails">
                    <img src="static/Assit/images\fruitplants\anar pomegranate.jpg" alt="">
                    <h3>Pomegranate</h3>
                    <p>Rs 300/.</p>
                    <h5>star rating</h5>
                </div>

                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html?id=13">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html?id=13">
                        <i class="fa fa-eye"></i></a>

                    <i class="fa fa-heart" data-productname="Pomegranate" data-productprice="800"
                        data-productdesc="Please provide description of flower 1...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Pomegranate" data-price="300"
                        data-productdesc="Please provide description of flower 1...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i>Add to cart </button>
                </span>

            </div>

            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--Fruit plant 2 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\fruitplants\apple.jpg" alt="">
                    <h3>Apple</h3>
                    <p>RS 150/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html?id=14">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html?id=14">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Apple" data-productprice="150"
                        data-productdesc="Please provide description of flower 2...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Apple" data-price="150"
                        data-productdesc="Please provide description of flower 2...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>

            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--Fruit plant 3 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\fruitplants\blue baries.jpg" alt="">
                    <h3>Blue Barries</h3>
                    <p>RS 800/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=15">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=15">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Blue Barries" data-productprice="800"
                        data-productdesc="Please provide description of flower 3...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Blue Barries" data-price="800"
                        data-productdesc="Please provide description of flower 3...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>


            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--Fruit plant 4 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\fruitplants\orange.jpg" alt="">
                    <h3>Orange</h3>
                    <p>RS 150/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html?id=16">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html?id=16">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Orange" data-productprice="150"
                        data-productdesc="Please provide description of flower 4...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Orange" data-price="150"
                        data-productdesc="Please provide description of flower 4...!"> <i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--Flower 9 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\flowerpage images\pexels-hanan-habib-2861476.jpg"
                        alt="">
                    <h3>Red Rose</h3>
                    <p>RS 200/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=9">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=9">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Flower name.." data-productprice="200"
                        data-productdesc="Please provide description of flower 9...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Flower name.." data-price="200"
                        data-productdesc="Please provide description of flower 9...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--Flower 10 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\flowerpage images\pink-flower-with-green-stem-purple-center.jpg"
                        alt="">
                    <h3>osteospermum</h3>
                    <p>RS 900/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=10">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=10">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Pink Flower" data-productprice="900"
                        data-productdesc="Please provide description of flower 10...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Pink Flower" data-price="900"
                        data-productdesc="Please provide description of flower 10...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--Flower 11 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\flowerpage images\pink-white-rose-is-shown-with-word-love-it.jpg"
                        alt="">
                    <h3>Pink White Rose </h3>
                    <p>RS 1450/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=11">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=11">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Pink White Rose" data-productprice="1450"
                        data-productdesc="Please provide description of flower 11...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Pink White Rose" data-price="1450"
                        data-productdesc="Please provide description of flower 11...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--Flower 12 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\flowerpage images\purple-flowers-vase.jpg"
                        alt="">
                    <h3>Purple Flower Vase</h3>
                    <p>RS 500/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=12">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=12">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Purple Flower Vase" data-productprice="500"
                        data-productdesc="Please provide description of flower 12...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Purple Flower Vase" data-price="500"
                        data-productdesc="Please provide description of flower 12...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i>Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <div class="itemdetails">
                    <img src="static/Assit/images\seeds\Almonds.jpg" alt="">
                    <h3>Almond Seed</h3>
                    <p>Rs 300/.</p>
                    <h5>star rating</h5>
                </div>

                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=25">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=25">
                        <i class="fa fa-eye"></i></a>

                    <i class="fa fa-heart" data-productname="Almond Seed" data-productprice="300"
                        data-productdesc="Please provide description of flower 1...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Almond Seed" data-price="300"
                        data-productdesc="Please provide description of flower 1...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i>Add to cart </button>
                </span>

            </div>

            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--seed 2 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\seeds\assorted nuts.jpg" alt="">
                    <h3>Assorted Nuts</h3>
                    <p>RS 250/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=26">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=26">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Assorted Nuts" data-productprice="250"
                        data-productdesc="Please provide description of flower 2...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Assorted Nuts" data-price="250"
                        data-productdesc="Please provide description of flower 2...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>

            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--seed 3 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\seeds\avocado.jpg" alt="">
                    <h3>Avocado</h3>
                    <p>RS 450/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=27">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=27">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Avocado" data-productprice="450"
                        data-productdesc="Please provide description of flower 3...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Avocado" data-price="450"
                        data-productdesc="Please provide description of flower 3...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>


            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--seed 4 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\seeds\bell pepper.jpg" alt="">
                    <h3>Bell Pepper</h3>
                    <p>RS 100/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=28">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=28">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Bell Pepper" data-productprice="100"
                        data-productdesc="Please provide description of flower 4...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Bell Pepper" data-price="100"
                        data-productdesc="Please provide description of flower 4...!"> <i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--seed 9 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\seeds\jonathan-kemper-NBJEHS2ZJuk-unsplash.jpg"
                        alt="">
                    <h3>Aphrodite's Phalaenopsis</h3>
                    <p>RS 180/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=45">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=45">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Aphrodite's Phalaenopsis" data-productprice="180"
                        data-productdesc="Please provide description of flower 9...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Aphrodite's Phalaenopsis" data-price="180"
                        data-productdesc="Please provide description of flower 9...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--seed 10 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\seeds\kiwi fruit.jpg" alt="">
                    <h3>Kiwi</h3>
                    <p>RS 430/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=46">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=46">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Kiwi" data-productprice="430"
                        data-productdesc="Please provide description of flower 10...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Kiwi" data-price="430"
                        data-productdesc="Please provide description of flower 10...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--seed 11 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\seeds\mushrooms.jpg" alt="">
                    <h3>Mushrooms </h3>
                    <p>RS 100/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=47">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=47">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Mushrooms " data-productprice="100"
                        data-productdesc="Please provide description of flower 11...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Mushrooms " data-price="100"
                        data-productdesc="Please provide description of flower 11...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i> Add to cart</button>
                </span>
            </div>
            <div class="flowers">
                <div class="sale">30% Off</div>
                <!--seed 12 -->
                <div class="itemdetails">
                    <img src="static/Assit/images\seeds\pitaya fruit.jpg" alt="">
                    <h3>Pitaya</h3>
                    <p>RS 380/.</p>
                    <h5>star rating</h5>
                </div>
                <div class="stars">
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star starfilled"></span>
                    <span class="fa fa-star "></span>
                </div>
                <a class="productdetail"
                    href="productDetail.html ?id=48">See Detail</a>
                <div class="btnlikesee">
                    <a class="productdetail"
                        href="productDetail.html ?id=48">
                        <i class="fa fa-eye"></i></a>
                    <i class="fa fa-heart" data-productname="Pitaya" data-productprice="380"
                        data-productdesc="Please provide description of flower 12...!"></i>
                </div>
                <span>
                    <button class="addtocart" data-name="Pitaya" data-price="380"
                        data-productdesc="Please provide description of flower 12...!"><i
                            class="fa fa-shopping-cart shoppingcart"></i>Add to cart</button>
                </span>
            </div>
            <!--Messanger chat -->
            <section>
                <div class="messanger">

                    <div class="chat">

                        <svg xmlns="http://www.w3.org/2000/svg" style="margin: 6px 7px;" width="35" height="35"
                            fill="white" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>

                        <div class="openchatbox">
                            <h3>chat with us</h3>
                            <input type="text" placeholder="Type Message here..">
                            <button>send</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </section>
    
    <script src="static/Assit/js/homepage.js"></script>
    <script src="static/Assit/js/searchProduct.js"></script>
    <script src="static/Assit/js/flowerpage.js"></script>
    <script src="static/Assit/js/fruitplants.js"></script>
    <script src="static/Assit/js/favouritiespage.js"></script>
    <script src="static/Assit/js/fruitsfavouritiespage.js"></script>
    <script src="static/Assit/js/stickymenubar.js"></script>

</body>

</html>


{% endblock %}